\.idea/
__pycache__/
*.pyc
.tox
.pytest_cache
/cbw_api_toolbox.egg-info/
api.conf
.vscode
.venv
build/
dist/
examples/air_gapped_scans/Scripts/
examples/air_gapped_scans/Uploads/
test.xlsx
.pypirc
cyberwatch-airgap-compliance
cyberwatch-airgap
